.pic-container {
  width: 28%;
}

.calendar-container {
  display: inline-flex;
}

.icon-container {
  margin-left: 10px;
}

.calendar {
  font-size: 35px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 20px;
}

fieldset.border {
  border: 3px solid black !important;
  padding: 10px 20px 0 20px;
  margin-bottom: 50px;
}

legend.register {
  float: none !important;
  width: 12% !important;
  margin-left: 10px;
}
