.profile {
  width: 300px;
  height: 300px;
  margin-left: 80px;
}

.search-container {
  padding: 0;
  margin: 50px 30px;
}

.full-table {
  margin: 0 50px;
}

.cricle-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 50px;
}

.circle-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}

.center {
  margin-left: 10px;
  margin-bottom: 10px;
}

.first-row {
  width: in;
}

.large-button {
  width: inherit;
}

#table-body {
  padding: 10px 10px !important;
  border: 1px solid;
}

.table-row {
  margin: 10px 0;
}

.mobile-pic {
  width: 70px;
  height: 70px;
}

.editButton {
  margin-right: 40px;
}

.padding {
  padding: 0;
}

@media screen and (max-width: 576px) {
  legend.register {
    width: 30% !important;
  }
}
